body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.image img {
    max-width: 1200px;
    width: auto;
    height: 10cm;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
div .container{
    
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-links {
    list-style-type: none;
}

.nav-links li {
    display: inline-block;
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
header {
    background-color: #333;
    padding: 10px 0;
    color: #fff;
    font-family: "Dancing Script", cursive;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo {
    float: left;
    font-size: 24px;
}

header nav {
    float: right;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

header::after {
    content: '';
    display: block;
    clear: both;
}

.classic p {
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #000;
    padding: 20px;
}
.products {
    padding: 50px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.products h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333;
}

.product-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-item {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    width: 30%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.product-item:hover {
    transform: translateY(-5px);
}

.product-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.product-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.product-item p {
    font-size: 1.2rem;
    color: #f39c12;
    margin-bottom: 15px;
}

.product-item .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.product-item .btn:hover {
    background-color: #f39c12;
}
